* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    display: block;
    margin: auto;
    width: 300px;
}

.connect-friends {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}

.form {
    max-width: 400px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(117, 116, 116, 0.219);

}

.form * {
    display: block;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="submit"] {
    padding: 1rem;
    width: 100%;
    margin-bottom: 10px;
    outline-color: #1877f2;
    border: solid thin #dddfe2;
    border-radius: 6px;
    font-family: inherit;
    font-size: 17px;
    text-align: left;
}

.form input::placeholder {
    color: #a6a8a8;
}

.form input[type="submit"] {
    background-color: hsl(214, 89%, 52%);
    text-align: center;
    padding: .9rem .5rem;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
}

.form span {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.form span a {
    color: #247df1;
    text-decoration: none;
}

.border {
    width: 90%;
    height: 1px;
    background-color: #dadde1;
    margin: 20px auto;
}

.form button {
    width: 50%;
    margin: auto;
    background-color: #42b72a;
    padding: .9rem .3rem;
    border-radius: 6px;
    outline: none;
    border: none;
}

.form button a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.create-page {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 15px;
}

.create-page>a {
    color: #222;
    font-weight: 600;
    text-decoration: none;
}

.footer {
    margin-top: 100px;
    padding: 1rem 1.5rem;
    background-color: #fff;
}

.footer a {
    display: inline-block;
    padding: 0 .3rem;
    text-decoration: none;
    color: #8a8d91;
    font-size: 12px;
}

.footer .meta {
    display: block;
    color: #8a8d91;
    font-size: 12px;
    margin-top: 20px;
    padding: 0 .3rem;
}

.linea-footer {
    border-bottom: solid thin #dadde1;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width:900px) {

    .container-flex {
        max-width: 1400px;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 100px;
    }

    .container-profile {
        width: 50%;
        margin-right: 100px;
        transform: translateY(-50px);
    }

    .logo img {
        display: inline-block;
        margin: 0;
        width: 300px;
    }

    .connect-friends {
        text-align: left;
        margin-left: 30px;
        font-size: 27px;
    }

    .container-form {
        width: 50%;
    }

    .form {
        width: 400px;
    }

    .footer {
        margin-top: 0;
        padding: 2rem 7rem;
    }
}

@media screen and (max-width:450px) {
    body {
        padding: 1rem;
    }

    .logo img {
        width: 200px;
    }

    .connect-friends {
        font-size: 18px;
    }

    .form input::placeholder {
        font-size: 15px;
    }

    .form button {
        width: 70%;
    }

    .footer {
        margin-top: 20px;
    }
    
    .form input[type="submit"] {
        font-size: 18px;
    }
}